[user]
	name = Viktor Sharha
	email = vsharha07@gmail.com
[core]
	autocrlf = input
{{ if not .headless }}	editor = code --wait
{{ end -}}
[init]
	templateDir = ~/.config/git/template
[push]
	autoSetupRemote = true
{{ if eq .chezmoi.os "darwin" -}}
[credential]
	helper = osxkeychain
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
{{ end -}}
