[user]
	name = Viktor Sharha
	email = vsharha07@gmail.com
[core]
	autocrlf = input
{{ if not .headless }}	editor = code --wait
{{ end -}}
[init]
	templateDir = ~/.config/git/template
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rebase]
	autoStash = true
	autoSquash = true
	updateRefs = true
[merge]
	conflictStyle = zdiff3
{{ if not .headless }}	tool = vscode
{{ end -}}
[mergetool]
	keepBackup = false
[rerere]
	enabled = true
{{ if eq .chezmoi.os "darwin" -}}
[credential]
	helper = osxkeychain
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
{{ end -}}
