{{- $brewPrefix := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $brewPrefix = env "HOMEBREW_PREFIX" -}}
{{-   if not $brewPrefix -}}
{{-     $brewPrefix = output "brew" "--prefix" | trim -}}
{{-   end -}}
{{- end -}}
[user]
	name = Viktor Sharha
	email = {{ .email }}
[core]
	autocrlf = input
{{ if not .headless }}	editor = code --wait
{{ end -}}
[init]
	templateDir = ~/.config/git/template
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rebase]
	autoStash = true
	autoSquash = true
	updateRefs = true
[merge]
	conflictStyle = zdiff3
{{ if not .headless }}	tool = vscode
{{ end -}}
[mergetool]
	keepBackup = false
[rerere]
	enabled = true
{{ if eq .chezmoi.os "darwin" -}}
[credential]
	helper = osxkeychain
[credential "https://github.com"]
	helper =
	helper = {{ printf "!\"%s/bin/gh\" auth git-credential" $brewPrefix | quote }}
[credential "https://gist.github.com"]
	helper =
	helper = {{ printf "!\"%s/bin/gh\" auth git-credential" $brewPrefix | quote }}
{{ end -}}
