<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>io.github.vsharha.login.mail</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/open</string>
		<string>-j</string>
		<string>-g</string>
		<string>-a</string>
		<string>/System/Applications/Mail.app</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
